@import "sass-partials/variables-and-layout";
@import "sass-partials/components-header";
@import "sass-partials/components-search";


/*==========
LAYOUT
=========*/

.search {
    margin: 3.7em auto;

    &__row {
        display: flex;
        flex-direction: column;
    }
}

.results {
    &__row {
        // Get that smaller width in mobile
        width: 70%;
        justify-content: center;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
        grid-template-rows: min(335px, 680px);
        gap: 3.5em;
    }
}

/*==========
DESKTOP
=========*/

@media only screen and (min-width: 700px) {

    .search {
        &__row {
            flex-direction: row;
        }
        &__country {
            flex: 1;
        }
        &__region {
            flex: 2;
            text-align: right;
        }
    }

    .results {
        &__row {
            width: 100%; // Take up the whole container
            gap: 5em;
        }
    }

}